body.blue {
    background: #adc9d2;
    background: linear-gradient(to bottom, #adc9d2 0%,#769dab 100%);
 }

body.grey {
    background: #525b64;
    background: linear-gradient(to bottom, #525b64 0%,#3e4750 100%);
  }
  
h1,h2,h3,h4,h5,h6 {margin: 0; padding: 0}
  a, input, textarea {
    text-decoration: none;
    outline: none;
    transition: all .25s ease-in-out;
  }

 header,section,article,footer {
    overflow: hidden;
  }


  /*** HEADER ***/
header {
  display: block;
  margin-top: 30px;
  padding: 5px 0;
  box-shadow: 43 7px 41px -2px rgb(0 0 0 / 30%);
  background: #ffffff;
  /* background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%);*/
}
  
#logo a {
    float: left;
    padding: 12px 40px;
    border-right: 1px solid #b4b4b4;
    font: 16px 'Lato';
    font-weight: 900;
    color: #333;
  }
  
nav, nav ul {
    display: inline-block;
    list-style: none;
    margin: 0; padding: 0
}

nav ul li {
  display: inline-block;
}

nav ul li a {
    display: block;
    margin: 12px 0 0 45px;
    padding-bottom: 12px;
    font: 12px 'Lato';
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
  }

nav ul li a:hover {
  border-bottom: 3px solid #444;
}

nav ul li.active a {
    font-weight: 900;
    border-bottom: 3px solid #444;
}

.responsive {
    display: none;
    margin: 5px 30px 0;
    background: #666;
    box-shadow: inset 0 0 8px rgba(0,0,0,1);
    text-align: center;
  }

.responsive span {
    display: block;
    padding: 10px;
    font: 14px 'Lato';
    font-weight: 700;
    color: #f7f7f7;
    cursor: pointer;
  }

  .responsive ul {display: none; float: none;}
  .responsive ul li {display: block !important;}
  .responsive ul li a {
    display: block;
    float: none;
    color: #eee;
    text-shadow: 1px 1px 1px #222;
  }
  
.responsive2{
    float: right;
    margin-right: 29px;
  }

/*icone panier */ 
.img4{
      width: 10%;
      bottom: 10%;
      margin: -4px;
      cursor: default;
  }

  /*image acceuil*/
.hero {
    display: block;
    height: 500px;
    margin: 40px 0;
    box-shadow: 0 7px 16px -2px rgba(0,0,0,.3);
    background:  left/100% url(/img/imgacceuil.jpg);
}

.hero h1 {
    margin: 195px 0 0 40px;
    font: 21px 'Lato';
    font-weight: 700;
    color: #444;
}

.hero h2{
    font-size: 43px;
    letter-spacing: 2px;
    text-shadow: 2px 2px rgb(79 120 212);
    text-align: center;
    text-align: center;
    position: absolute;
    bottom: 452px;
    left: 0;
    right: 0;
  }

.hero p {
    margin: 20px 40px 40px 40px;
    width: 495px;
    font: 14px/28px 'Lato';
    color: #444;
}

/*button en savoir plus*/
.hero .button {
    margin-left: 40px;
    cursor: pointer;
}

.product {
    display: block;
    float: left;
    width: 360px;
    margin: 0 40px 40px 0;
    box-shadow: 0 7px 16px -2px rgba(0,0,0,.3);
  }

.img1{
    display: block;
    border-radius: 40px;
    display: block;
    /*margin-left: auto;*/
     margin-right: auto; 
    width: 30%;
    margin-left: 5%;
 }
  
  .img2{
    display: block;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    /* margin-right: auto; */
    width: 30%;
    margin-right: 5%;
  }

.product .info {
    display: block;
    padding: 20px 30px;
    background: #f8f8f8;
    background: linear-gradient(to bottom, #f8f8f8 0%,#f3f3f3 100%);
 }

  .product .info h1 {
    font: 21px 'Lato';
    font-weight: 700;
    color: #444;
  }

.product .info small {
    display: block;
    margin: 10px 0;
    font: 12px 'Lato';
    color: #444;
  }

.product .info .size {
    display: block;
    margin: 10px 0;
    font: 12px 'Lato';
    font-weight: 900;
    color: #444;
}

.product .info .size a {
    margin-left: 8px;
    font: 10px 'Lato';
    font-weight: 500;
    color: #65a0b8;
 }

  .product .info .size a:hover {
    color: #cc0000;
  }

  .product .info .price {
    display: inline-block;
    margin-top: 15px;
    font: 28px 'Lato';
    font-weight: 900;
    color: #444;
  }

  .product .info .button {
    float: right;
    margin-top: 15px;
  }
  
  /*** FOOTER ***/
footer {
    display: block;
    clear: both;
    box-shadow: 0 7px 16px -2px rgba(0,0,0,.3);
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 100%);
  }

  footer h4 {
    display: inline-block;
    float: none;
    margin: 12px 0;
    padding: 5px 30px;
    /*border-right: 1px solid #b5b5b5;*/
    font: 14px 'Lato';
    font-weight: 900;
    color: #333;
  }

  footer .social {
    float: right;
    margin-left: auto;
    margin: -4px;
    padding: -7px;
    margin-right: 29px;
    list-style: none;
  }

  footer .social li {
    float: left;
    margin: 19px 5px 0;
  }
  
  footer .social li a {
    display: block;
    padding: 5px;
  }
  
  @media screen and (max-width: 1160px) {
    main {width: 95%}
    .grid1 {width: 31% !important}
    .grid2 {width: 61% !important}
    .grid3 {width: 100% !important}
    .grid1 + .grid2 {float: right}
    .grid2 + .grid1 {float: right}
            
    .hero {text-align: center;}
    .hero h1, .hero p {
      width: auto;
    }
            
    .product {text-align: center}
    .product .button, .product .price {
      float: none !important;
    }
            
    .graphic span {
      display: block !important;
      border: none !important;
      border-bottom: 1px solid #d8d8d8 !important;
      width: 100% !important;
      margin: 0 !important; padding: 0!important;
      padding: 27px 0 !important;
    }
            
            .basket {text-align: center}
            .basket h1 {margin-left: 0}
            .basket ul li img {display: block!important;margin: 0 auto !important;float: none;}
            .basket ul li h2 {display: block;margin-right: 0; float: none;}
            .basket ul li a, .basket ul li .count {display: none}
            .basket ul li .price {display: block; float: none;}
            .basket .total {float: none; display: block;margin-left: 0;}
            .basket .button {float: none;margin: 10px 0 30px 0}
            
            .address {text-align: center}
            .address h1, .address h2 { margin-left: 0 }
  }
  @media screen and (max-width: 1042px) {
                    .search {display:none!important}
  }
  @media screen and (max-width: 798px) {
                    header {text-align: center}
                    #logo a {float: none;display: block; border: none;}
                    nav {float: none;margin: 0!important}
                    nav a {margin: 12px 22px 0 22px !important;}
  }
  @media screen and (max-width: 588px) {
                            .grid1,
                            .grid2 {
                              float: none !important;
                              width: 100% !important;
                            }
                            
                            header {padding-bottom:0}
                            #logo a {margin-bottom: 15px;}
                            nav {display: none}
                            .responsive {display: block;}
                            
                            .hero {
                              height: auto;
                              background-repeat: no-repeat;
                              background-size: auto 100%;
                            }
                            .hero h1 {margin-left: 0}
                            .hero .button {margin-left: 0;margin-bottom: 30px;}
                            
                            footer {text-align: center}
                            footer h4 {
                              display: block;
                              float: none;
                            }
                            footer .social {
                              float: none;
                              margin: 5px !important;
                            }
                            footer .social li {
                              margin: 0 5px 5px;
                            }
  }


/*artciles sous*/

.sous{
    display: none;

     box-shadow: 0px 1px 2px rgb(13 112 134); 
    background-color: rgb(142 232 213);
    position: absolute;
    width: 100%;
    block-size: 7%;
    z-index: 1000;
}

nav > ul li:hover .sous{
    display: block;
    width: 120%;
}
.sous li{
    float: left;
    width: 10%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: rgb(52, 206, 185);
    box-shadow: 0px 1px 2px rgb(13 112 134); 
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 5px 20px;
  height: 1500px;
}

.imge{
  width: 30px;
  bottom: 11%;
  margin: -108px;
  float: right;
  background: white;
  margin-top: -105px;
 
}

.sub1{
  background-color: #cbceea;
  border: #100075 1px solid;
  padding: 5px 10px;
  color: #112898;
  float: right;
  text-decoration: inherit;
  border-radius: 6px;
  font-family: sans-serif;
  margin: 53px 25px;
  cursor: pointer;
}