.label{
    box-shadow:6px 6px 6px  red;
    right: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    }
.label1{
        position: relative;
        box-shadow:6px 6px 6px  red;
        z-index: 1;
        flex: 1 1 auto;
        width: 50%;
        margin-top: 29;
        margin-bottom: 20px;
        }

.label2{
    background-color: #fff;
    border: 3px solid #000;
    color: #000;
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
}



.aymane
{
    margin: 0px 0px 0px 309px;
}




       