body {
	font-family: Arial;
	color: #211a1a;
	font-size: 0.9em;
}

#shopping-cart {
	margin: 40px;
}

#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}

.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}

.btnAddAction {
	padding: 5px 10px;
    margin-left: 25px;
    background-color: #20c585;
    border: #23c18b 1px solid;
    color: #211a1a;
    float: right;
    margin-bottom: 15px;
    margin-top: 18px;
	margin-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}
.ensavoirplus{

	color: #5d5ca0!important;
    font-size: 14px!important;
    text-decoration: underline;
    text-align: center;
	  
		
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
    background: #e8fff6;
    margin: 24px 31px 78px 0px;
    border: #ffffff 1px solid;
    border-radius: 22px;
    box-shadow: 0px 0px 0px 1px rgb(48 156 177), 2px 2px 2px 2px rgb(0 0 0 / 20%);
}

.product-image {
	height: 100px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

.tbl-cart {
	font-size: 0.9em;
}

.tbl-cart th {
	/*font-weight: normal;*/

}

.product-title {
	margin-bottom: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-family: cursive;

}

.product-prix {
	float: left;
    margin-left: 23px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 23px;
}

.cart-action {
	float: right;
}

.cart-action2{
	float: center;
}

.product-quantity {
	padding: 5px 2px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
    margin-bottom: 15px;
    margin-right: -13px;
    margin-top: 18px;
}
.product-tile-footer {
	padding: 59px 3px 3px 8px;
    width: 366px;
    overflow: auto;
    margin-top: 111px;
}


.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	clear: both;
	margin: 38px 0px;
}

.imgg{
    width: 379px;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: -76px;
    margin-left: -1px;
    padding: 10px -2px -27px -19px;
    padding-right: -165px;}

	.cont{
	    text-align: center;
    text-transform: capitalize;
    width: auto;
    margin-top: 4px;
    border-radius: 5px;
    padding-top: -13px;
    margin-bottom: 0px;
    /* background: rgb(255 59 59); */
    /* display: block; */
    padding-top: -1px;
    height: 46px;}
	